//nesting
.navbar{
	background-color: map-get($map:$paleta,$key:'colorBgNavBr');
	img{
		width: 21rem;
 		margin:auto 0;
 		padding: 2rem 1rem;

 		@media (min-width: 320px){
		width: 25rem;
	}
		}
		ul{
			padding-right: 1rem;
			li{
				list-style-type: none;
 				font-size:$textLg;
 				padding: .3rem 1rem;
 				a{
 					text-decoration: none;
 					color: map-get($map:$paleta,$key:'colorLiNavBar');
 					font-weight: 300;
 					&:hover{
 						font-weight: 700;
 						color: map-get($map:$paleta,$key:'colorHoverLi');
 					}
 				}
			}
		}
	}

.navbar-toggler{
	color: map-get($map:$paleta,$key:'colorNavBarToggler');
	border-color: map-get($map:$paleta,$key:'colorNavBarToggler');
}

.navbar-toggler-icon{
	background-image: url(../img-entrega1/boton-burguer.svg);
	width:27px;
	border-color: map-get($map:$paleta,$key:'colorBotonHamburguesa');
}